@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700;800&family=Manrope:wght@600;800&family=Noto+Sans&family=Roboto&family=Varela+Round&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: rgb(237, 246, 250);
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  height: 10rem;
  padding: 1rem;
}

h1 {
  text-align: center;
  color: #6b6b70;
  font-weight: 300;
}

input {
  height: 2rem;
  border: 2px solid rgb(255, 192, 254);
  border-radius: 10px;
}

input:nth-child(2) {
  margin-left: 0.4rem;
}

input:hover {
  border: 2.5px solid rgb(236, 236, 155);
}

input[type=text]:focus {
  outline: transparent;
  /* border:3px solid red; */
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}

.goal-submit-button {
  margin-left: 0.5rem;
  background-color: #fff;
  height: 2.5rem;
  border: 2px solid rgb(255, 192, 254);
  border-radius: 10px;
}

.goal-submit-button:hover {
  border: 2.5px solid rgb(155, 229, 236);
}


li {
  list-style-type: none;
  margin-top: 1.5rem;
  background-color: rgb(237, 246, 250);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  padding: 0.5rem;
  border-radius: 0.5rem;
}